<p>Bonjour,</p>

<p>
Merci pour l'intérêt que vous portez à Ecolometrics ! 
<br><br>
Nous travaillons d'arrache-pied pour vous proposer une première version du site qui vous permettra de mieux appréhender le champ de connaissances relatif aux transitions écologiques. 
<br><br>
Vous serez le/la premier(e) prévenu(e) quand cette version Bêta sera accessible.
<br><br>
En attendant, n'hésitez pas à rejoindre <a href="twitter.com/ecolometrics">la page Twitter d'Ecolometrics</a> pour ne rien louper de ses prochaines actualités. 
<br><br>
Cordialement,
<br><br><br>

L'équipe Ecolometrics ☘️

</p>  